<?xml version="1.0"?>
<launch>

	<arg name="use_current_scene" default="true"/>
  <arg name="planning_group" default="manipulator"/>
  <arg name="constraints_file" default="$(find ur5e_robotiq_85_mtc_pkg)/config/constraints/free_constraints.yaml"/>
	<arg name="output_folder" default="$(find ur5e_robotiq_85_mtc_pkg)/config/constraints/free_constraint_db"/>

  <node name="generate_state_database" pkg="moveit_planners_ompl" type="generate_state_database" output="screen">
    <param name="use_current_scene" value="$(arg use_current_scene)"/>
    <param name="planning_group" value="$(arg planning_group)"/>
    <param name="output_folder" value="$(arg output_folder)"/>

    <rosparam ns="constraints" command="load" file="$(arg constraints_file)"/>
  </node>

</launch>
